{% extends "layout.html" %}
{% block title %}
{{ error }}
{% endblock %}
{% block main %}

<section class="common box">
  <h3>{{ error }}</h3>
  <p>
    {{ error_text }}
  </p>
</section>

{% endblock %}
