<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Spitter :: {% block title %}Main{% endblock %}</title>
	<link rel="shortcut icon" href="{{ request.application_url }}/static/favicon.ico" />
	<link rel="stylesheet" href="{{ request.application_url }}/static/style.css"
          type="text/css" media="screen" charset="utf-8" />
<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body>
    <header>
      <nav>
        <ul>
        {% if username %}
          <li><a href="{{ request.application_url }}/logout">Log Out</a> (<a href="{{ request.application_url}}/u/{{ username }}">{{ username }}</a>)</li>
        {% elif not request.path.endswith('/login') %}
          <li><a href="{{ request.application_url }}/login">Log In</a></li>
        {% endif %}
        </ul>
      </nav>
      <h1><a href="{{ request.application_url }}">Spitter</a></h1>
    </header>

    {% block main %}
    {% endblock %}
  </body>
</html>
