{% extends "layout.html" %}
{% block title %}
Log In
{% endblock %}
{% block main %}
  <section class="box login">
    <h3>Log In</h3>
    <div class="error">{{ error }}</div>
    <div id="login-form">
      <form action="{{ request.application_url }}/login" method="POST">
        <input type="hidden" name="came_from" value="{{ came_from }}" />
        <div class="field">
          <label for="username">Username:</label>
          <input type="text" name="username" value="" />
        </div>
        <div class="field">
          <label for="password">Password:</label>
          <input type="password" name="password" value="" />
        </div>
        <input class="submit" type="submit" name="form.submitted" value="Log In" />
      </form>
    </div>
  </section>
{% endblock %}
