{% extends "layout.html" %}
{% block main %}

{% if username %}
<section class="box spit-box">
  <h3>Spit something new!</h3>
  <div id="new-spit">
    <form method="POST" action="{{ request.application_url }}">
      <input class="spit-text" type="text" name="text" />
      <input type="submit" value="Spit" />
    </form>
  </div>

{% if status_spit %}
  <div class="status-spit">
Last status update:
  {{ status_spit.text }}
  </div>
{% else %}
  <div class="status-spit no-status-spit">Last status update: No status</div>
{% endif %}

</section>

{% endif %}

<section class="main-column">
<section class="box spit-listing">
<h3>
{% if spits_type %}
  {{ spits_type }}
{% elif following %}
  Following:
  {% for x in following %}
<a href="{{ request.application_url}}/u/{{ x }}">{{ x }}</a>
  {% endfor %}
{% endif %}
</h4>

<ul>
{% for spit in spits %}
<li>
{{ spit.text }} by <a href="{{request.application_url}}/u/{{ spit.username }}" class="spit-user">{{ spit.username }}</a> at <span class="spit-time">{{ friendly(spit.created) }}</span>
</li>
{% endfor %}
</ul>
</section>
</section>

<section class="right-column">
<section class="box users active-users user-listing">
  <h3>Active Users</h3>
  <ul>
    {% for user in active_users %}
      <li><a href="{{request.application_url}}/u/{{ user }}">{{ user }}</a></li>
    {% endfor %}
  </ul>
</section>
</section>

{% endblock %}
