{% extends "layout.html" %}
{% block title %}
{{ request.context.username }}'s spits
{% endblock %}
{% block main %}
<section class="main-column">

<section class="box">
  <h3>Last Status Update</h3>
{% if status_spit %}
  <p class="status-spit">
  {{ status_spit.text }}
  <p>
{% else %}
  <p class="status-spit no-status-spit">No status</p>
{% endif %}
</section>

<section class="box spit-listing">
  <h3>
{{ request.context.username }}'s spits
  </h3>

    <div class="follow-form">
  {% if can_follow or following %}
      <form action="{{ request.application_url }}/u/{{ username }}/following/" method="POST">
        <input type="hidden" name="came_from" value="{{ request.url }}" />
        <input type="hidden" name="user" value="{{ context.username }}" />
        {% if can_follow %}
        <input type="hidden" name="action" value="add" />
        <input type="submit" name="follow" value="follow user" />
        {% elif following %}
        <input type="hidden" name="action" value="remove" />
        <input type="submit" name="follow" value="stop following" />
        {% endif %}
      </form>
  {% endif %}
    </div>

  <ul>
    {% for spit in spits %}
      <li>
        {{ spit.text }} at <span class="spit-time">{{ friendly(spit.created) }}</span>
      </li>
    {% endfor %}
  </ul>
</section>
</section>

<section class="right-column">
<section class="box user-listing">
  <h3>Following:</h3>
  <ul>
    {% for user in request.context.following %}
      <li>
        <a href="{{ request.application_url }}/u/{{ user.username }}">{{ user.username }}</a>
      </li>
    {% endfor %}
  </ul>
</section>

<section class="box user-listing">
  <h3>Followed By:</h3>
  <ul>
    {% for user in request.context.followers %}
      <li>
        <a href="{{ request.application_url }}/u/{{ user.username }}">{{ user.username }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
</section>

{% endblock %}
