html {
    font-family: ubuntu, verdana, helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

section,
header,
nav {
    display: block;
}

a {
    color: #41627E;
}

section.main-column {
    width: 80%;
    float: left;
    margin: 2em 0 0 1em;
}

section.right-column {
    width: 16%;
    float: right;
    margin: 2em 1em 0 0;
}

section.right-column section.box {
    margin-bottom: 1em;
}

#new-spit {
    padding: 0.4em;
}

#new-spit .spit-text {
    width: 89%;
}

#new-spit input {
    font-size: 1.5em;
    width: 8%;
}

header {
    margin-left: 0.45em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    float: right;
    background-color: #ddd;
    padding: 0.25em 0.5em 0.5em 0.75em;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
}

nav li {
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 0;
    padding: 0;
}

section.box.login {
    width: 20em;
    margin: auto;
}

section.login label {
    display: block;
    padding: 0;
}

section.login input {
    width: 97%;
}

section.login .error {
    color: red;
}

section li {
    padding: 0.25em;
}

section.box {
    border-radius: 15px;
    -moz-border-radius: 15px;
    padding: 0;
    -webkit-box-shadow: 10px 10px 5px #888;
    -moz-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    border: 1px solid #ddd;
    margin: 0 0 2em 0;
}

section.box.common {
    margin: 1em;
}

section.box.common p {
    margin: 1em;
}


section.box h3 {
    background-color: #ddd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    padding: 0.4em;
    margin: 0;
}

section.spit-listing ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
}

section.spit-listing li {
    border-bottom: 1px #ddd solid;
    padding: 0.5em 0.25em;
    margin: 0;
}

section.spit-listing li:last-child {
    border-bottom: 0;
}

#login-form {
    padding: 0.4em;
}

#login-form .submit {
    margin-top: 1em;
    width: 5em;
}

.field {
}

section.spit-box {
    margin: 1em 1em 0 1em;
}

.follow-form {
    float: right;
}

section.user-listing ul {
    list-style-type: none;
    margin: 0 0 0.2em 1em;
    padding: 0;
}

.status-spit {
    margin: 0.25em 1em 0.5em 1em;
}

.no-status-spit {
    color: #666;
}
